@model WaterManagement.Models.Clients

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar dados</h1>

<h4>Clients</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meter" class="control-label"></label>
                <input asp-for="Meter" class="form-control" />
                <span asp-validation-for="Meter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bill" class="control-label"></label>
                <input asp-for="Bill" class="form-control" />
                <span asp-validation-for="Bill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Celular" class="control-label"></label>
                <input asp-for="Celular" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Banco" class="control-label"></label>
                <input asp-for="Banco" class="form-control" />
                <span asp-validation-for="Banco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recibo" class="control-label"></label>
                <input asp-for="Recibo" class="form-control" />
                <span asp-validation-for="Recibo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="M3" class="control-label"></label>
                <input asp-for="M3" class="form-control" />
                <span asp-validation-for="M3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="M4" class="control-label"></label>
                <input asp-for="M4" class="form-control" />
                <span asp-validation-for="M4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payed" class="control-label"></label>
                <input asp-for="Payed" class="form-control" />
                <span asp-validation-for="Payed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Multa" class="control-label"></label>
                <input asp-for="Multa" class="form-control" />
                <span asp-validation-for="Multa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Debt" class="control-label"></label>
                <input asp-for="Debt" class="form-control" />
                <span asp-validation-for="Debt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayDate" class="control-label"></label>
                <input asp-for="PayDate" class="form-control" />
                <span asp-validation-for="PayDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReDate" class="control-label"></label>
                <input asp-for="ReDate" class="form-control" />
                <span asp-validation-for="ReDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stablished" class="control-label"></label>
                <input asp-for="Stablished" class="form-control" />
                <span asp-validation-for="Stablished" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coment" class="control-label"></label>
                <input asp-for="Coment" class="form-control" />
                <span asp-validation-for="Coment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
